@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root {
  font-family:
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif,
    Titillium Web;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Navigator */

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header-blog__title {
  color: #61bb61;
  font-size: 24px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333333;
}

.nav-link i {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
  font-size: 14px;
}

.nav-link {
  position: relative;
  display: inline-block;
}

/* кнопка прячется по умолчанию */
.logout-wrapper {
  position: absolute;
  top: 100%; /* прямо под username */
  left: 0;
  display: none; /* скрыто */
}

/* показываем, когда курсор либо на nav-link, либо на logout-wrapper */
.nav-link:hover .logout-wrapper,
.logout-wrapper:hover {
  display: block;
}

.logout-btn {
  padding: 6px 25px;
  margin-top: 4px;
  border: none;
  cursor: pointer;
  color: #333333;
}

.nav-item a {
  all: inherit;
  text-decoration: none;
  cursor: pointer;
}

.bx {
  color: #61bb61;
}

/* Hero */
.hero {
  padding: 0;
  margin: 0;
}

.hero__content {
  height: 190px;
  width: 100%;
  background-color: #61bb61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero__content h1 {
  margin: 0;
}

.hero__content .hero__title {
  font-size: 50px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.hero__content .hero__title a:visited {
  color: inherit;
}

.hero__content .hero__subtitle {
  font-size: 24px;
}

.hero__content p {
  margin: 0;
  padding: 0;
}

/* ArticlesPage */
.articles-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
  border: solid 1px gray;
  border-radius: 20px;
  width: 800px;
  height: 278px;
  color: #333333;
}

.page-title {
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0;
}

.page-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: #aaaaaa;
}

/* ArticlePage */
.article-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 20px;
}

.article-page__title {
  margin-top: 30px;
  margin-left: 70px;
}

.article-page__description {
  margin-left: 73px;
}

.article-page__body {
  margin-left: 5px;
}

.article-change {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.page-likes {
  cursor: pointer;
}

.button-likes {
  border: none;
}

/* PopularTags */
.page {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  gap: 12px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.page-author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.page-author-icon {
  font-size: 18px;
  color: #5cb85c;
}

.page-author-card {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #5cb85c;
}

.page-date {
  font-size: 12px;
  color: #aaa;
}

.page-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #61bb61;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  color: #61bb61;
  width: 77px;
  height: 40px;
}

.page-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-title,
.page-description,
.page-tag__article {
  flex: 1; /* каждый блок занимает равную долю высоты */
  display: flex; /* чтобы содержимое внутри тоже можно было выровнять */
  align-items: center; /* по вертикали */
  padding: 10px; /* отступы по желанию */
  box-sizing: border-box;
}

.page-title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.page-description {
  font-size: 14px;
  color: gray;
}

.page-tag__article {
  display: flex;
  justify-content: row;
  border-radius: 20px;
  width: 800px;
  gap: 10px;
  /* padding-bottom: 20px; */
}

.article-tag {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 12.8px;
  color: #aaaaaa;
  cursor: pointer;
}

/* Popular Tags */

.articles-tags {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  border: 1px solid gray;
  border-radius: 20px;
  width: 800px;
  height: 88px;
  color: #333333;
}

.tags-title {
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.popular-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.page-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 12.8px;
  color: #aaaaaa;
  cursor: pointer;
}

/* Paginator */
.paginator {
  padding-top: 30px;
}
.paginator__numbers {
  cursor: pointer;
  border: 1px solid #61bb61;
  height: 44px;
  width: 41px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #61bb61;
  gap: 2px;
}

.paginator__numbers.active {
  background-color: #61bb61;
  color: white;
  font-weight: bold;
}

/* AuthForm */
.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.authot-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 278px;
  gap: 20px;
}

button {
  cursor: pointer;
}

label {
  cursor: pointer;
}
